.gitignore
.gitattributes

# # Ignore large files
# *.h5
# *.keras

# # Ignore specific directories containing large files
# Sem3 Termwork/Extra/
# Sem3 Termwork/Python/waste_classifier/models/
